.project_header
  .bucket
    .project_title.tw-cen-mt.left
      = data.title.upcase
    - if data.link
      %a.big-blue-button.tw-cen-mt.right{ :href => data.link.url, :alt => data.link.alt, :target => data.link.target }
        %em +
        = data.link.label.upcase
.left-right-gallery
  .image-container
    .gallery-images
      %ul
        - data.images.each do |image|
          %li
            %img{ :src => image }
    .gallery-controls
      .left-btn
        %a{ :href => '#previous-image' }
          %img{ :src => '/images/gallery-btn-left.png' }
      .right-btn
        %a{ :href => '#next-image' }
          %img{ :src => '/images/gallery-btn-right.png' }
  .gallery_title.audi_type_extended.left
    = data.title
  .gallery_copy.left
    = data.desc
.clear