- content_for :head do
  %title FullTiLT
  :javascript
    $(document).ready(function() {
      var galleryContainer = $('.left-right-gallery');
      console.log('number of gallery containers: ' + galleryContainer.length );
      galleryContainer.each(function( $index, $el ){
        new $.LeftRightGallery( $el, 950, 740 );
      })
    });
#projects
  - data.projects['entries'].each do |entry|
    = render 'entry', :locals => { :data => entry }